*.DS_Store

node_modules
client/node_modules

client/config/globals.js
errorShots
errorShots/*
dist

client/coverage
client/coverage/*
client/public
client/public/*
client/reports
client/reports/*

reports/*
test/mockData.json
